<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="NavCtrl">
          <ul class="nav nav-sidebar">
            <li ng-class="{'active': selectIndex===1}" ng-click="selected(1)"><a href="#/index">账户列表</a></li>
            <li ng-class="{'active': selectIndex===2}" ng-click="selected(2)"><a href="#/about">about</a></li>
            <li ng-class="{'active': selectIndex===3}" ng-click="selected(3)">
                <a href="#/form">添加账户</a>
            </li>
          </ul>
        </div>
        <div ui-view="content"></div>
        </div>
      </div>
    </div>
<div>