<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <buttom class="btn btn-primary" ng-click="" style="margin-bottom: 10px;" data-toggle="modal" data-target="#addAccountModal">添加帐号</buttom>
    <table class="table table-striped">
        <tr>
            <th>序号</th>
            <th>账户名称</th>
            <th>帐号</th>
            <th>密码</th>
        </tr>
        <tr ng-repeat="i in accounts">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.account}}</td>
            <td>{{i.password}}</td>
        </tr>
    </table>
</div>
<div ng-controller="AddAccountCtrl" class="modal fade" id="addAccountModal" role="dialog" aria-labelledby="addAccountModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addAccountModalLabel">添加账户</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <div class="container-fluid">
                        <form>
                            <div class="form-group">
                                <label>账户名称</label>
                                <input class="form-control" ng-model="account.name" type="text">
                            </div>
                            <div class="form-group">
                                <label>账户账号</label>
                                <input class="form-control" ng-model="account.accountName" type="text">
                            </div>
                            <div class="form-group">
                                <label>账户密码</label>
                                <input type="password" ng-model="account.password" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="submit()">添加</button>
            </div>
        </div>
    </div>
</div>