<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ng-controller="ToolTipCtrl">
    <h4>Tooltip</h4>
    <ul>
        <li><a href="#" uib-tooltip="{{top}}1111122" tooltip-placement="{{top}}">top</a></li>
        <li><a href="#" uib-tooltip="{{bottom}}" tooltip-placement="{{bottom}}">bottom</a></li>
        <li><a href="#" uib-tooltip="{{left}}" tooltip-placement="{{left}}">left</a></li>
        <li><a href="#" uib-tooltip="{{right}}" tooltip-placement="{{right}}">right</a></li>
    </ul>
</div>